In [1]:
# Dependencies

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from scipy.stats import linregress

In [2]:
# Load CSV into DF

file_path = 'Resources/Forested_Areas.csv'
forest_df = pd.read_csv(file_path, encoding='utf-8')

forest_df.head()

                          Country  Forested Area (%)  Life Expectancy (years)
0                        Suriname               98.3                     71.6
1  Federated States of Micronesia               91.9                     67.8
2                           Gabon               90.0                     66.2
3                      Seychelles               88.4                     72.8
4                           Palau               87.6                     69.1